html[data-theme="#3B5998"]:root {
  --bg-color: #3B5998;
  --card-color: #6d85c9;
  --card-shadow: rgba(79, 106, 171, 0.5);

  --font-color: #FFFFFF;
  --font-color-200: #E0F2F1;

  --border-color: #263339;

  --content-left-right: #6d85c9;
  --content-center: #4f6aab;
  --center-top-bg: #6d85c9;

  --button-color: #7284C4;
  --button-shadow-one: #6170a7;
  --button-shadow-two: #8398e1;
  --button-active-color: #101625;

}