html[data-theme="#1E1E1E"]:root {
  --bg-color: #1E1E1E;
  --card-color: #454545;
  --card-shadow: rgba(71, 85, 105, 0.1);

  --font-color: #FFF;
  --font-color-200: #a3a5ac;

  --border-color: rgba(17, 17, 17, 0.4);

  --content-left-right :#454545;
  --content-center: #2d2d2d;
  --center-top-bg: #454545;

  --button-color:  #454545;
  --button-shadow-one: #3b3b3b;
  --button-shadow-two: #4f4f4f;
  --button-active-color: #FF4081;

}