html[data-theme="#ffffff"]:root {
  --bg-color: rgb(242, 240, 253);
  --card-color: rgb(255, 255, 255);
  --card-shadow: rgb(224 225 255 / 41%);

  --font-color: #1E2022;
  --font-color-200: rgb(163,165,172);

  --border-color: #1E2022;

  --content-left-right :rgb(246, 247, 254);
  --content-center: rgb(255, 255, 255);
  --center-top-bg: rgb(245 246 255 / 80%);

}