html[data-theme="#f2f0fd"]:root {
  --bg-color: #f2f0fd;
  --card-color: #ffffff;
  --card-shadow: rgb(224 225 255 / 41%);

  --font-color: #1E2022;
  --font-color-200: rgb(163,165,172);

  --border-color: #1E2022;

  --content-left-right :rgb(246, 247, 254);
  --content-center: rgb(255, 255, 255);
  --center-top-bg: rgb(245 246 255 / 80%);

  --button-color: rgb(203,214,222);
  --button-active-color: #788189;

}