html[data-theme="#f2f0fd"]:root {
  --bg-color: #f2f0fd;

  --card-color: #ffffff;
  --card-shadow: rgb(224 225 255 / 41%);

  --font-color: #1E2022;
  --font-color-200: rgb(163, 165, 172);

  --border-color: #1E2022;

  --content-left-right: rgb(246, 247, 254);
  --content-center: rgb(255, 255, 255);
  --center-top-bg: rgb(245 246 255 / 80%);

  --button-color: #F6F7FD;
  --button-shadow-one: 5px 5px 8px #d4d4da;
  --button-shadow-two: -5px -8px 10px #ffffff;

  --button-active-color: #FF4081;
  --button-shadow-one-active: 5px 5px 8px #d4d4da;
  --button-shadow-two-active: -14px -14px 28px #ffffff;

  --ghost-body-color: rgba(17, 17, 17, 1);
  --ghost-eye-color: #d50e0e;
}