html[data-theme="#20293a"]:root {
  --bg-color: #20293a;
  --card-color: rgb(54,65,83);
  --card-shadow: rgba(71, 85, 105, 0.1);

  --font-color: #FFF;
  --font-color-200: #a3a5ac;

  --border-color: rgba(17, 17, 17, 0.4);

  --content-left-right :#334155;
  --content-center: #475569;
  --center-top-bg: #334155;

}