html[data-theme="#ffc6ff"]:root {
  --bg-color: #fdf6fd;
  --card-color: #ffc6ff;
  --card-shadow: rgba(71, 85, 105, 0.1);

  --font-color: #22223b;
  --font-color-200: rgba(17, 17, 17, 0.4);

  --border-color: rgba(17, 17, 17, 0.4);

  --content-left-right :#ffc6ff;
  --content-center: #b4e1ff;
  --center-top-bg: #ffc6ff;

}